div {
	border:1px red solid;
	border-radius:10px;
	background:rgba(200, 0, 0, 0.2);
	margin:20px;
	box-shadow:5px 5px 5px 5px black;
}
div.left{
	width:200px;
	float:left;
}
div.middie{
	width:200px;
	float:right;
}